@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SFThonburi";
  src: local("SFThonburi"),
    url(/fonts/SF-Thonburi/SFThonburi-Regular.ttf) format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: "SFThonburi";
  src: local("SFThonburi"),
    url(/fonts/LineSeed/SFThonburi-Semibold.ttf) format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "SFThonburi";
  src: local("SFThonburi"),
    url(/fonts/LineSeed/SFThonburi-Bold.ttf) format("ttf");
  font-weight: bolder;
}

html,
body {
  font-family: "SFThonburi", sans-serif !important;
}

#app {
  font-family: "SFThonburi", sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SFThonburi", sans-serif !important;
}

.ContainerLayout {
  @apply p-4 sm:ml-64;
}


[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus{
  @apply ring-0 !important
}

#table-header-black div table thead tr th div span {
  color: black;
  opacity: 87%;
}